:root { 
	--color-green: #75d260; 
}

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-image: url("../img/main-bg-doctor.jpg");
   	background-size: cover;
	background-repeat: no-repeat;
}

textarea {
	resize: none;
}

.header-btns__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}

.btn__logout,
.btn__create,
.main-content__container,
.no-items__wrapper {
	display: none;
}

.no-items__wrapper {
	width: 25rem;
}

.filter__status-select, 
.filter__priority-select,
.filter__search-input {
    font-size: 12px;
}

.cards__container {
 	justify-content: center;
	align-items: flex-start;
 	gap: 30px;
}

.card__wrapper {
	min-width: 330px; 
	max-width: 420px;
  cursor: move;
  user-select: none;
}

.card__user-name {
	border-color: #0dcaf0;
}

.card__more-info {
	display: none;
}

.card__more-info span {
	font-weight: 600;
}

.btn__details {
	position: relative;
	padding-right: 33px;
}

.btn__details::after {
   content: '';
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
   width: 16px;
   height: 16px;
   position: absolute;
   right: 10px;
   top: 10px;
}

.btn__hide-details::after {
   transform: rotate(180deg);
}

.btn__edit-card {
	display: none;
}

.btn__edit-card,
.btn__confirm-edit-card {
	background-color: var(--color-green);
	border-color: var(--color-green);
	transition: filter .3s;
	--bs-btn-active-bg: var(--color-green);
    --bs-btn-active-border-color: var(--color-green);
}

.btn__edit-card:hover,
.btn__confirm-edit-card:hover {
	background-color: var(--color-green);
	filter: brightness(1.05);
}

.modal__window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
    justify-content: center;
    align-items: center;
}

.modal__background {
  background-color: rgba(0,0,0,.6);
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0; 
  z-index: 1;
}

.modal__main-container{
  width: 70%;
  height: fit-content;
  z-index: 2;
  max-width: 500px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
 }

 .empty {
  border-color: red;
 }

input:required {
  background: lightgreen;
}

#selected {
  /* opacity: 0.6;
  background: rgb(117, 148, 151); */
}

.selected {
  opacity: 0.6;
  background: rgb(117, 148, 151);
}


